---
interface Props {
    imgSrc: string;
    imgAlt: string;
    title: string;
    span?: string;
    content: string;
    theme: "dark" | "light";
}
const { imgSrc, imgAlt, title, span, content, theme } = Astro.props;
---

<div class={`feature ${theme}`}>
    <div class="image_container">
        <img src={imgSrc} alt={imgAlt} />
    </div>

    <div class="text_container">
        <h2>{title}<span>{span}</span></h2>
        <p>{content}</p>
    </div>
</div>

<style lang="scss">
    @use "@styles/variables/variables.scss" as variables;

    .feature {
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: variables.$padding-large;
        border-radius: variables.$border-radius;

        @media screen and (max-width: variables.$mobile) {
            height: auto;
            padding: 20px 0;
            gap: 20px;
        }

        &.dark {
            color: variables.$white;
            box-shadow: none;

            .text_container h2,
            .text_container p {
                color: variables.$white;
            }

            .text_container h2 span {
                color: variables.$primary;
            }
        }

        &.light {
            color: variables.$black;

            .text_container h2,
            .text_container p {
                color: variables.$secondary;
            }

            .text_container h2 span {
                color: variables.$quaternary;
            }
        }

        .image_container {
            width: 40%;

            img {
                width: 100%;
            }

            @media screen and (max-width: variables.$mobile) {
                width: 80%;
            }
        }

        .text_container {
            width: 100%;
            text-align: center;

            h2 {
                @include variables.typo-h1;
                font-family: variables.$font-family-anton;
            }

            p {
                @include variables.typo-h3;
            }
        }
    }
</style>
