---
import ContactForm from "@components/common/ContactForm.vue";
import Layout from "../layouts/PageLayout.astro";
import HeroTitle from "@components/common/HeroTitle.astro";
import Availability from "@components/contact-us/Availability.astro";
import { contactUs } from "src/data/contactUs";

const { availability, location, heroTitle } = contactUs;

const [...words] = heroTitle.title.split(" ");
const title = words.slice(0, -1).join(" ");
const span = words.pop();
---

<Layout>
    <HeroTitle paragraph={heroTitle.paragraph} icon={heroTitle.icon}>
        <div slot="title" class="hero-title">
            <h1>{title} <span>{span}</span></h1>
        </div>
    </HeroTitle>
    <div class="location_section" id="location">
        <h1>Dove siamo:</h1>
        <iframe
            src={location.mapEmbedUrl}
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="opening_time_section">
        <Availability availability={contactUs.availability} />
    </div>

    <div class="contact_section">
        <ContactForm
            title="Come possiamo aiutarti?"
            description=" Compila il modulo a destra con i tuoi dettagli e la tua richiesta, e ti ricontatteremo al più presto per offrirti il miglior servizio possibile. La tua soddisfazione è la nostra priorità."
            client:load
        />
    </div>
</Layout>

<style scoped lang="scss">
    @use "../styles/variables/variables.scss" as variables;

    .hero-title {
        h1 {
            text-align: center;
            color: variables.$white;
            font-family: variables.$font-family-anton;
            @include variables.typo-h1;

            span {
                font-family: variables.$font-family-anton;
                color: variables.$primary;
            }
        }
    }
    .location_section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        gap: 40px;

        padding: variables.$padding-large;

        h1 {
            color: variables.$secondary;
            @include variables.typo-h1;
        }

        iframe {
            width: 80%;
            height: 600px;
        }
    }

    .opening_time_section {
        width: 100%;
        height: 100vh;
        background-color: variables.$secondary;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 50px;
        gap: 40px;
        position: relative;

        .number_main_div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;
            width: 80%;
            height: auto;
            padding: 20px;
            background-color: variables.$quaternary;
            border-radius: variables.$border-radius;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                a {
                    color: variables.$white;
                    @include variables.typo-sub1;

                    &:hover {
                        color: variables.$primary;
                    }
                }

                i {
                    color: variables.$primary;
                    font-size: 20px;
                }
            }

            .sep {
                width: 20px;
                height: 1px;
                background-color: variables.$primary;
            }
        }

        .social_div {
            height: auto;
            width: auto;
            padding: 10px;
            position: absolute;
            right: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;

            i {
                color: variables.$tertiary;
                font-size: 24px;
                transition: color 0.3s;

                &:hover {
                    color: variables.$primary;
                }
            }
        }
    }

    .contact_section {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 600px) {
        .table_main_div {
            overflow-x: auto;
            width: 100%;
        }
        .section_2 {
            padding: 20px;
            .social_div {
                position: static;
                flex-direction: row;
            }
        }
        .number_main_div {
            flex-direction: column;
            .sep {
                width: 60%;
            }
        }
    }
</style>
